<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AimYourself.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AimYourself.Properties.Settings>
            <setting name="length" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="thickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="gap" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="drawPointFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="drawOutlineFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawGapFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawSidelineFlags0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawSidelineFlags1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawSidelineFlags2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawSidelineFlags3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="doubleBuffered" serializeAs="String">
                <value>False</value>
            </setting>
        </AimYourself.Properties.Settings>
    </userSettings>
</configuration>